.navbar {
    padding: 15px 0;
    width: 100%;
    background-color: #4F7F19;
}
/* container */
.container_fluid {
    display: flex;
    flex-direction: row;

    margin: 0 auto;
    width: 1040px;
}
/* logo */
.nav_brand img {
    width: 50px;
}

/* nav items */
.nav_items{
    display: flex;
    flex-direction: row;
    /* padding: 0; */
}
.nav-items{
    list-style: none;
}

.nav_items a {
    font-family: Poppins;
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}

/* Sign in */
.signin {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.signin button {
    font-family: Poppins;
    font-size: 18px;
    color: #fff;
    height: 50px;
    width: 100px;
    border: 0;
    background-color: #7dd145;
}

.signin a .signup {
    font-family: Poppins;
    font-size: 18px;
    color: #fff;
    height: 50px;
    width: 100px;
    border: 0;
    background-color: transparent;
}
.signin button:hover{
    cursor: pointer;
}
