.Business_container{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: flex-start;
    margin: 80px auto;
    position: relative;


}

.Business_input, .Business_label, .Business_button , .Business_select{
    text-align-last: left;
    padding: 16px 22px;

}




.Business_Sub{
    width: 100%;


}

.Business_Sub input,  .Business_btn , .Business_button, select.Business_select {
    margin: 10px 0px;
    

    width: 100%;
    
    justify-content: center;
  
  
}
select.Business_select, input.Business_button {
    width: 100%;
  
  
}
.Business_Sub label{
    margin: 10px ;
    width: 50%;
}


.Business_button{
    text-align-last: auto;
    background-color: #4F7F19;
    color: white;

    

}


.Business_btn:hover{
    opacity: .8;
    transition: .5s;
 
 }